body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

#container{
  display: flex;
  justify-content: center;
}

.lightswitch {
  border: 2px solid black;
  background-color: white;
  width: 350px;
  height: 350px;
}

.lightbulb {
  border: 2px solid black;
  background-color: white;
  width: 350px;
  height: 350px;
}
